<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>BMI Calculator</h1>
    <form method="POST">
        <div>
            <label>Weight</label>
            <input type="text" name="weight"/>
        </div>
        <div>
            <label>Height</label>
            <input type="text" name="height"/>
        </div>
        <input type="submit"/>
    </form>
</body>
</html>